@use '../../style' as s;

@use '../../style/form.scss' as form;

@use '../../style/account.scss' as a;



.notifications__section {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
	height: 730px;
	overflow: auto;
}


.notifications__section::-webkit-scrollbar {
	width: 1px; 
  }

  .notifications__section::-webkit-scrollbar-thumb {
	background-color: s.color(box); 
  }

  .notifications__section::-webkit-scrollbar-track {
	background-color: transparent;
  }
