@use '../../style' as s;
@use '../../style/form.scss' as form;
@use '../../style/account.scss' as a;



.payment--system__cards {
	display: flex;
 	flex-direction: column;
	gap: s.space(3);
}

.page__section--title {
	font-weight: 500;
}


.field--num__wrapper {
	position: relative;

	&::after {
		content: "$ ";
		position: absolute;
		color: s.color(dark);
		font-size: 14px;
		top: 42.5px;
		left: 15px;
		pointer-events: none; 
	}	
}


.card {
	@include s.click;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: s.color(white);
	padding: s.space(4);
	gap: s.space(4);
	border-radius: 12px;

	&__info {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 16px;
		font-weight: 500;
	}
	
	&--disabled {
		opacity: 0.5;
		cursor: default;

		&:hover,
		&:active {
			opacity: 0.5;
			cursor: default;
		}
	}
	
}
